{%load static%}
<!DOCTYPE html>
<html>

<body >
<center><h2>Papers</h2></center>
<p><i>On categories O of quiver varieties overlying the bouquet graphs</i>, arXiv:1911.08463</p>
<p><i>On Poincare polynomials of shuffle algebra representations</i>, arXiv:1911.11115</p>
<p><i>Ring theoretic aspects of quandles</i>, arXiv:1805.05908, Journal of Algebra, <b>526</b>, 2019, pp 166-187</p>
<p><i>Nontrivial Topological Quandles</i>, arXiv:1911.11115</p>
<p><i>On Poincare polynomials of shuffle algebra representations</i>, arXiv:1911.11115</p>
<p>Spring 2021 <a href="{% url 'IntrotoCryptography' %} "style = "color:rgb(19,1,67);">MATH1025 Introduction to Cryptography</a>.</p>




</body>
</html>